/* pesudo elements :
 In pesudo elements we use ::(double semicolons thats the rule)
*if we need new fonts we can use google fonts for extra specific fonts *
*/
.pseudotext::first-line{
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/* in which it specificly target the text and we can able to decorate it */
}
::selection{
    background-color: rgb(163, 255, 163);
    /* which makes selection color in  our featuted way */
}
.targetname{
    width: 400px;
    text-align: center;
    border: 1px solid;
    margin: auto;
    padding:0px 20px 0px 0px;
ul li:nth-child(2){
    /* where here we using the pseudo class(:) */
    color: blue;
    border: 1px solid;
    background: yellow;
    
}
}
a:visited{
    color: blueviolet;
    /* when some one click are viewed the link it changes to the given respective colour */
}
a:focus{
    color: red;
    /* when you click on the link it changes the colour of the link what we have given */
    /* if we referesh the page that ges to the normal visited color */
    /* thoesthings are stored in the broweser that we cant change */
    /* if we open it on incognito tap that dosent support any thing cause it does not stores any data */
}
a:hover{
    color: black;
    font-size: 20px;
    /* in which it makes changes the color when you place the cursor on the link */
}
.exp2{
    width:400px;
    margin: 10px auto;
    padding: 10px;
    border: 2px solid;
    box-sizing: border-box;
    input{
        width: 75%;
        padding: 2px;
        margin-bottom: 10px;
        outline: none;
        font-size: 16px;
        border: none;
        
        
    }
    
    button{
        
    }

}
input:focus{
    border: 3px solid red;
    
}         
