h3{
    color: rgb(165, 42, 120);
}
h1{
    color:purple;
     font-family: calc();
    text-decoration: overline;
    text-align: center;
    font-size: 50px;
}
img{
    height: 500px;
    width: 750px;
}
div{
    text-align: center;
}